/db/*.sqlite3
/db/*.sqlite3-*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/.bundle
/vendor/bundle

.rvmrc

/vendor/assets/bower_components
*.bowerrc
bower.json

.powenv

.byebug_history

node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads
*.rbc
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

capybara-*.html
.rspec
tmp/
.idea/
.DS_Store

/config/master.key
/config/database.yml

/app/assets/builds/*
!/app/assets/builds/.keep