<div class="w-full mx-auto pt-2.5 md:w-2/3">
  <h1 class="text-4xl font-bold">Editing order</h1>

  <%= render "orders/form", order: @order %>
  <%= link_to "Back to order", @order, class: "text-white bg-gray-500 font-medium rounded-lg px-5 py-2.5 text-sm" %>
</div>
