<footer class="mt-4 text-center text-black bg-neutral-200 lg:text-left">
  <div class="flex items-center justify-center p-6 border-b-2 border-neutral-200 lg:justify-between">
      <div>
        <span class="me-2">Find us on social media: </span>

        <%= link_to "#", class:'me-3' do %>
          <i class="fa fa-brands fa-instagram fa-2x"></i>
        <% end %>
        <%= link_to "#", class:'me-3' do %>
          <i class="fa fa-brands fa-twitter fa-2x"></i>
        <% end %>
        <%= link_to "#", class:'me-3' do %>
          <i class="fa fa-brands fa-linkedin fa-2x"></i>
        <% end %>
      </div>

      <div class="text-right">
        <span class="text-right">Lv-647-03.Ruby-ZeroWaste © <%= Date.current.year %> </span>
      </div>
  </div>
</footer>
